<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devcommunity.junyharang.mapper.user.UserMapper">

    <!-- 기 등록된 회원 정보가 있는지 확인 ID -->
    <select id="findByUserID" parameterType="com.devcommunity.junyharang.model.dto.user.DuplicateByUserIDDTO"
            resultType="com.devcommunity.junyharang.model.dto.user.DuplicateByUserIDDTO">

        select username
        from user
        where username = #{username}
    </select>

    <!-- 기 등록된 회원 정보가 있는지 확인 별명 -->
    <select id="findByUserNickName" parameterType="com.devcommunity.junyharang.model.dto.user.DuplicateByUserNickNameDTO"
            resultType="com.devcommunity.junyharang.model.dto.user.DuplicateByUserNickNameDTO">

        select nickname
        from user
        where nickname = #{nickname}
    </select>

    <!-- 기 등록된 회원 정보가 있는지 확인 Email -->
    <select id="findByUserEmail" parameterType="com.devcommunity.junyharang.model.dto.user.DuplicateByUserEmailDTO"
            resultType="com.devcommunity.junyharang.model.dto.user.DuplicateByUserEmailDTO">

        select userEmail
        from user
        where userEmail = #{userEmail}
    </select>

    <!-- 기 등록된 회원 정보가 있는지 확인 핸드폰 번호 -->
    <select id="findByUserPhoneNumber" parameterType="com.devcommunity.junyharang.model.dto.user.DuplicateByUserPhoneNumberDTO"
            resultType="com.devcommunity.junyharang.model.dto.user.DuplicateByUserPhoneNumberDTO">

        select userPhone
        from user
        where userPhone = #{userPhone}
    </select>


    <!-- 회원 가입을 위해 DB에 회원 정보 저장 -->
    <insert id="signUp" parameterType="com.devcommunity.junyharang.model.vo.member.CustomUserDetails">
        <![CDATA[
        insert into user (
            username,
            password,
            nickname,
            userEmail,
            userPhone,
            enable,
            authority
        ) values (
          #{username},
          #{password},
          #{nickname},
          #{userEmail},
          #{userPhone},
          1,
          "ROLE_USER"
         )
        ]]>
    </insert>

    <!-- 이용자가 로그인 시 입력한 ID를 통해 해당 회원 정보를 검색 -->
    <select id="getUserByID" parameterType="String"
            resultType="com.devcommunity.junyharang.model.vo.member.CustomUserDetails">
        select *
        from user
        where username = #{username}
    </select>

    <!-- 이용자가 로그인 시 생성된 Refresh Token 저장 -->
    <update id="setRefreshToken" parameterType="String">
        update user
        set token = #{token}
        where username = #{username}
    </update>

    <!-- Access Token 재 발급 시 회원 고유 번호를 통해 존재하는 회원인지 검색 -->
    <select id="getUserByPK" parameterType="Integer"
            resultType="com.devcommunity.junyharang.model.vo.member.CustomUserDetails">
        select *
        from user
        where userId = #{userPk}
    </select>
</mapper>